# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [71]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [72]:
# Your code here:
data= pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
display(data.shape)

(33702, 8)

Examine the `salaries` dataset using the `head` function below.

In [73]:
# Your code here:

data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [74]:
# Your code here:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [75]:
# Your code here:
# salary = 0
# hourly = 0
# for x in data['Salary or Hourly']:
#     salary = 0
#     hourly = 0
#     if x == 'Salary':
#         salary =+ 1
#     elif x == 'Hourly':
#         hourly =+ 1
#     else:
#         pass

In [76]:
value_counts = data['Salary or Hourly'].value_counts()
print(value_counts)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [77]:
# Your code here:

# value_counts = data['Department'].value_counts()
# print(value_counts)
# data.groupby(['Department']).agg({'Name':count}).reset_index().head()
data.groupby('Department').size()

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [78]:
# Your code here:
# Null hypothesis or H0: mean $/hr value = 30
# Alternative hyp or H1: mean $/hr value <> 30
data['Hourly Rate']
# Extract the non-NaN hourly rates
hourly_rates = data['Hourly Rate'][data['Hourly Rate'].notna()]
hourly_rates

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [79]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly_rates) - 1  
sample_mean = np.mean(hourly_rates)
sample_standard_error = scipy.stats.sem(hourly_rates)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_rates, 30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

confidence interval is  (34.29839539204317, 34.874504045196865) .
stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [80]:
#creo que al pvalue ser tan chico debemos rechazar nuestra H0.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [81]:
# Your code here:
# Null hypothesis or H0: mean $/year value <= 86000
# Alternative hyp or H1: mean $/year value > 86000
data['Annual Salary']


police = data[data['Department']=='POLICE']
police
anualsalary = police['Annual Salary'][police['Annual Salary'].notna()]

In [82]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(anualsalary) - 1  
sample_mean = np.mean(anualsalary)
sample_standard_error = scipy.stats.sem(anualsalary)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(anualsalary, 86000)
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

confidence interval is  (88534.1182885883, 89134.11955863392) .
stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

In [83]:
#Podemos rechazar esta hipotesis ya que nuestro stat es positivo y nuestro pvalue es menos que 0.05
#Hay una suposicion que podria ser que es mayor ya que el pvalue es positivo

Using the `crosstab` function, find the department that has the most hourly workers.

In [84]:
# Your code here:

data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins=False)
data_crosstab=data_crosstab.drop(['Salary'], axis=1)
data_crosstab

Salary or Hourly     Hourly
Department
ADMIN HEARNG              0
ANIMAL CONTRL            12
AVIATION               1214
BOARD OF ELECTION         0
BOARD OF ETHICS           0
BUDGET & MGMT             2
BUILDINGS                 0
BUSINESS AFFAIRS          7
CITY CLERK                0
CITY COUNCIL             74
COPA                      0
CULTURAL AFFAIRS         10
DAIS                    745
DISABILITIES              1
FAMILY & SUPPORT        357
FINANCE                  45
FIRE                      0
HEALTH                    2
HOUSING                   0
HOUSING & ECON DEV        3
HUMAN RELATIONS           0
HUMAN RESOURCES           0
INSPECTOR GEN             0
LAW                      48
LICENSE APPL COMM         0
MAYOR'S OFFICE           17
OEMC                   1077
POLICE                   24
POLICE BOARD              0
PROCUREMENT               2
PUBLIC LIBRARY          356
PUBLIC SAFETY ADMIN      48
STREETS & SAN          1846
TRANSPORTN              726
TREASURER                 0
WATER MGMNT            1558

In [85]:
data_crosstab['Hourly'].idxmax()

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [90]:
# Your code here:
# Null hypothesis or H0: mean $/hr value <= 35
# Alternative hyp or H1: mean $/hr value > 35

streets = data[data['Department']=='STREETS & SAN']
streets
hourly_rates2 = streets['Hourly Rate'][streets['Hourly Rate'].notna()]
# import scipy.stats

# confidence_level = 0.95
# degrees_freedom = len(hourly_rates2) - 1  
# sample_mean = np.mean(hourly_rates2)
# sample_standard_error = scipy.stats.sem(hourly_rates2)
# confidence_interval = scipy.stats.t.interval(confidence_level, 
#                                              degrees_freedom, 
#                                              sample_mean, 
#                                              sample_standard_error)
# print( 'confidence interval is ', confidence_interval, '.' )
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_rates2, 35)
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [87]:
# Your code here:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly_rates) - 1  
sample_mean = np.mean(hourly_rates)
sample_standard_error = scipy.stats.sem(hourly_rates)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [88]:
# Your code here:

import scipy.stats

confidence_level = 0.95
degrees_freedom = len(anualsalary) - 1  
sample_mean = np.mean(anualsalary)
sample_standard_error = scipy.stats.sem(anualsalary)
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: